*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.login-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;

  .left {
    flex: 1;
    background-color: rgba(211, 175, 53, 1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: rgba(23, 22, 37, 1);

      .highlighted {
        color: white;
      }
    }

    .call {
      font-weight: 700;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      width: 360px;
    }

  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-cutout {
      height: 753px;
      box-shadow: 0px 4px 50px 1px rgba(0, 0, 0, 0.15);
      display: flex;
      flex-direction: column;
      padding: 70px 50px;
      border-radius: 30px;
      justify-content: space-between;

      .top-text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .login {
          font-weight: 900;
          font-size: 36px;
          line-height: 42px;
          color: rgba(23, 22, 37, 1);
        }

        .authorized {
          font-weight: 500;
          size: 14px;
          line-height: 16px;
          color: rgba(162, 162, 162, 1);
        }
      }

      .inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        .input {
          display: flex;
          flex-direction: column;
          gap: 15px;
          position: relative;
  
          label {
            color: rgba(23, 22, 37, 1);
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
          }
  
          input {
            border: 1.5px solid rgba(200, 200, 208, 1);
            border-radius: 30px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            color: rgba(23, 22, 37, 1);
            width: 430px;
            height: 56px;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            outline: none;
  
            &::placeholder {
              color: rgba(162, 162, 162, 1);
              
            }
          }
  
          .eye-container {
            position: absolute;
            top: 50px;
            right: 30px;
            cursor: pointer;
  
          }
        }      
      }

      .login-button {
        border: none;
        outline: none;
        height: 56px;
        background-color: rgba(211, 175, 53, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 30px;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: white;
        cursor: pointer;

        .arrow-container{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 30px;
        }
      }

    }
  }
}

.password-input::placeholder {
  transform: translateY(-4px);
}


.eye-container {
  img {
    width: 25px;
    height: 25px;
  }
}