*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

.login-page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;

    .left {
        flex: 1;
        background-color: rgba(211, 175, 53, 1);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .logo {
            position: absolute;
            top: 20px;
            left: 20px;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: rgba(23, 22, 37, 1);

            .highlighted {
                color: white;
            }
        }

        .call {
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            text-align: center;
            width: 360px;
        }
    }

    .right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .login-cutout {
            height: 753px;
            box-shadow: 0px 4px 50px 1px rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: column;
            padding: 70px 50px;
            border-radius: 30px;
            justify-content: space-between;

            .top-text {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .login {
                    font-weight: 900;
                    font-size: 36px;
                    line-height: 42px;
                    color: rgba(23, 22, 37, 1);
                }

                .authorized {
                    font-weight: 500;
                    size: 14px;
                    line-height: 16px;
                    color: rgba(162, 162, 162, 1);
                }
            }

            .inputs {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .input {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    position: relative;

                    label {
                        color: rgba(23, 22, 37, 1);
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                    }

                    input {
                        border: 1.5px solid rgba(200, 200, 208, 1);
                        border-radius: 30px;
                        display: flex;
                        align-items: center;
                        padding: 0 20px;
                        color: rgba(23, 22, 37, 1);
                        width: 430px;
                        height: 56px;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        outline: none;

                        &::placeholder {
                            color: rgba(162, 162, 162, 1);
                        }
                    }

                    .eye-container {
                        position: absolute;
                        top: 50px;
                        right: 30px;
                        cursor: pointer;
                    }
                }
            }

            .login-button {
                border: none;
                outline: none;
                height: 56px;
                background-color: rgba(211, 175, 53, 1);
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                border-radius: 30px;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                color: white;
                cursor: pointer;

                .arrow-container {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 30px;
                }
            }
        }
    }
}

.dashboard {
    display: flex;
    padding: 24px;
    background-color: rgba(250, 250, 250, 1);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 24px;
    gap: 35px;

    .sidebar {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 4px 20px 0px rgba(170, 169, 184, 0.1);
        gap: 51px;
        padding: 20px 16px 40px 16px;
        width: 200px;
        border-radius: 10px;

        .title {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;

            .colored {
                color: (211, 175, 53, 1) !important;
            }
        }

        .tabs {
            font-weight: 600;
            font-size: 15px;
            line-height: 17px;
            display: flex;
            flex-direction: column;
            color: rgba(23, 22, 37, 1);

            path {
                stroke: black;
            }

            div {
                display: flex;
                align-items: center;
                padding: 16px;
                border-radius: 6px;
                height: 56px;
                cursor: pointer;

                svg {
                    width: 24px;
                    height: auto;
                }
            }

            .chosen {
                background-color: rgba(211, 175, 53, 1);
                color: white;

                path {
                    stroke: white;
                }
            }
        }
    }

    .main {
        flex: 5;
        padding-bottom: 55px;
        height: 100%;

        .navbar {
            height: 84px;
            padding: 20px 24px;
            box-shadow: 0px 4px 20px 0px rgba(170, 169, 184, 0.1);
            display: flex;
            justify-content: space-between;
            border-radius: 12px;

            .nav-left {
                display: flex;
                gap: 20px;
                align-items: center;
                position: relative;

                .icons {
                    width: 24px;
                    height: auto;
                }

                input {
                    background-color: rgba(242, 246, 250, 1);
                    padding: 10px;
                    border-radius: 10px;
                    height: 44px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    padding-left: 44px;
                    border: none;
                    outline: none;
                }

                .searchIcon {
                    position: absolute;
                    left: 55px;
                }
            }

            .nav-right {
                display: flex;
                gap: 20px;

                .dropdown {
                    cursor: pointer;
                }

                .account {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .name-email {
                        .name {
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 16px;
                            color: rgba(23, 22, 37, 1);
                        }

                        .email {
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 14px;
                            color: rgba(100, 100, 100, 1);
                        }
                    }

                    img {
                        width: 40px;
                        height: auto;
                    }
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 55px;
            width: 100%;
            height: 96%;
            margin-bottom: 20px;
            color: rgba(23, 22, 37, 1);

            .title {
                font-weight: 700;
                font-size: 32px;
                line-height: 37px;
                flex: 1;
                display: flex;
                align-items: center;
            }

            .block {
                box-shadow: 0px 4px 20px 0px rgba(170, 169, 184, 0.1);
            }

            .total-events {
                width: 100%;
                flex: 4.4;
                display: flex;
                align-items: center;
                padding: 60px;
                justify-content: center;
                gap: 275px;

                border: 1px solid rgba(239, 240, 246, 1);
                border-radius: 20px;

                .left {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    .title {
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 32px;
                    }

                    .number {
                        font-weight: 900;
                        font-size: 86px;
                        line-height: 100px;
                        color: rgba(211, 175, 53, 1);
                    }
                }

                .right {
                    display: flex;
                    align-items: flex-end;
                    gap: 7vw;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 23.61px;

                    .percentage {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }

                    .green {
                        display: flex;
                        gap: 10px;
                    }

                    .red {
                        display: flex;
                        gap: 10px;
                    }
                }
            }

            .sub-events {
                flex: 4.4;
                display: flex;
                gap: 90px;
                width: 100%;

                .block {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid rgba(239, 240, 246, 1);
                    border-radius: 20px;
                    padding: 30px 50px;
                    gap: 100px;

                    .left {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-bottom: 20px;

                        .top {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .title {
                                font-weight: 400;
                                line-height: 16px;
                                font-size: 14px;
                            }

                            .number {
                                font-weight: 900;
                                font-size: 44px;
                                line-height: 51px;
                                color: rgba(211, 175, 53, 1);
                            }
                        }

                        .bottom {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 23.61px;

                            .green {
                                display: flex;
                                gap: 10px;
                            }

                            .red {
                                display: flex;
                                gap: 10px;
                            }
                        }
                    }

                    .right {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .status {
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 18px;
                            color: rgba(211, 175, 53, 1);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.event-content {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    height: 100%;
    position: relative;
    z-index: 1;

    .top {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            font-weight: 700;
            font-size: 32px;
            line-height: 37px;
        }

        .create-button {
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            background-color: rgba(211, 175, 53, 1);
            border-radius: 30px;
            padding: 12px 26px;
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 10px;
            color: white;
        }
    }

    .middle {
        flex: 1.6;
        display: flex;
        gap: 50px;

        & > div {
            flex: 1;
            box-shadow: 0px 4px 20px 0px rgba(170, 169, 184, 0.1);
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            padding: 17px 32px;
            gap: 15px;

            .top-ticket {
                display: flex;
                gap: 10px;

                .title {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 18px;
                }
            }

            .bottom {
                font-weight: 700;
                font-size: 36px;
                line-height: 42px;
            }
        }

        .total {
            path {
                stroke: rgba(211, 175, 53, 1);
            }

            color: rgba(211, 175, 53, 1);
        }

        .active {
            path {
                stroke: rgba(15, 185, 87, 1);
            }

            color: rgba(15, 185, 87, 1);
        }

        .expired {
            path {
                stroke: rgba(233, 56, 99, 1);
            }

            color: rgba(233, 56, 99, 1);
        }
    }

    .bottom {
        flex: 6.8;
        display: flex;
        flex-direction: column;

        .title {
            flex: 1;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
        }

        .table {
            flex: 5.67;
            display: flex;
            flex-direction: column;

            .table-container {
                flex: 6.5;
                border: 1px solid rgba(235, 234, 234, 1);
                border-radius: 20px;
                width: 100%;
                height: 100%;
                border-collapse: collapse;

                td {
                    text-align: center;
                    vertical-align: center;
                    font-weight: 500;
                    size: 14px;
                    line-height: 22px;
                }

                tr:nth-child(even) {
                    background-color: rgba(241, 241, 241, 1);
                }
                tr:nth-child(odd) {
                    background-color: #ffffff;
                }

                th {
                    padding: 10px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    color: rgba(154, 154, 158, 1);
                }

                th:last-child {
                    padding-right: 40px;
                }

                td:last-child {
                    display: flex;
                    justify-content: space-between;
                    width: 100px;
                    align-items: center;
                    height: 100%;
                    position: relative;

                    .statusactive {
                        padding: 4px 12px;
                        background-color: rgba(15, 185, 87, 0.2);
                        color: rgba(15, 185, 87, 1);
                        border-radius: 99px;
                        position: relative;
                        z-index: 1;
                    }

                    .statusexpired {
                        padding: 4px 12px;
                        background-color: rgba(233, 56, 99, 0.2);
                        color: rgba(233, 56, 99, 1);
                        border-radius: 99px;
                        position: relative;
                        z-index: 1;
                    }

                    .options {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        border-radius: 10px;
                        border: 1px solid rgba(194, 194, 194, 1);
                        padding: 14px 20px;
                        box-shadow: 0px 4px 26.2px 0px rgba(0, 0, 0, 0.25);
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        position: absolute;
                        right: -20px;
                        bottom: -65px;
                        z-index: 9;
                        background-color: white;

                        & > div {
                            display: flex;
                            gap: 16px;
                            cursor: pointer;
                        }

                        .delete {
                            color: rgba(233, 56, 99, 1);
                        }
                    }

                    .img-container {
                        cursor: pointer;
                    }

                    .clicked {
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            top: -5px;
                            left: -12px;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: rgb(125, 125, 125, 0.5);
                        }
                    }
                }
            }

            .pages {
                flex: 1;
                display: flex;
                padding: 17px 20px;
                border-radius: 10px;
                width: 100%;
                justify-content: space-between;

                .left {
                    display: flex;
                    gap: 20px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    align-items: center;

                    & > div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .page-number {
                        color: rgba(211, 175, 53, 1);
                        border: 1px solid rgba(220, 220, 220, 1);
                        height: 28px;
                        width: 27px;
                        border-radius: 3px;
                    }
                }

                .right {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    align-items: center;

                    & > div {
                        width: 28px;
                        height: 28px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .page {
                        cursor: pointer;
                    }

                    .selected {
                        background-color: rgba(211, 175, 53, 0.4);
                        width: 28px;
                        height: 28px;
                        border-radius: 8px;
                    }

                    .arrow-container {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        background-color: white;
        padding: 40px 56px;
        border-radius: 24px;
        width: 74vw;
        height: 91vh;
        display: flex;
        flex-direction: column;

        .top {
            font-weight: 700;
            font-size: 28px;
            line-height: 33px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .texts {
                margin-top: -30px;
            }

            img {
                cursor: pointer;
            }
        }

        .middle {
            display: flex;
            gap: 50px;
            color: rgba(112, 112, 112, 1);

            .normal {
                display: flex;
                flex-direction: column;
                gap: 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;

                input {
                    padding: 10px 20px;
                    border: 0.8px solid rgba(153, 153, 153, 1);
                    background-color: rgba(243, 243, 243, 1);
                    border-radius: 40px;
                }
            }

            .left {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 26px;

                .description {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;

                    textarea {
                        height: 250px;
                        border-radius: 16px;
                        display: flex;
                        align-items: start;
                        vertical-align: top;
                        padding: 20px 30px;
                        border: 0.8px solid rgba(153, 153, 153, 1);
                        background-color: rgba(243, 243, 243, 1);
                        border-radius: 40px;
                    }
                }
            }

            .right {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 26px;

                .event-image {
                    .file-container {
                        height: 150px;
                        padding: 24px;
                        border: 0.8px solid rgba(153, 153, 153, 1);
                        background: rgba(243, 243, 243, 1);
                        border-radius: 16px;

                        .inner {
                            border: 0.8px dashed rgba(168, 168, 168, 1);
                            border-radius: 16px;
                            height: 100%;
                            display: flex;
                            padding-top: 30px;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            flex-direction: column;
                            gap: 15px;

                            .text {
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 18px;
                            }

                            .select {
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 18px;
                                color: rgba(152, 152, 152, 1);

                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: end;

            .buttons {
                display: flex;
                gap: 20px;

                div {
                    padding: 7px 34px;
                    border-radius: 32px;
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 22px;
                    cursor: pointer;
                }

                .cancel {
                    color: rgba(211, 175, 53, 1);
                    border: 1px solid rgba(211, 175, 53, 1);
                }

                .create {
                    background-color: rgba(211, 175, 53, 1);
                    color: #ffffff;
                }
            }
        }
    }
}

.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .edit-container {
        width: 400px;

        background-color: #ffffff;
        border-radius: 26px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 30px;

        & > div {
          display: flex;
                flex-direction: column;
                gap: 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;


                input {
                    padding: 10px 20px;
                    border: 0.8px solid rgba(153, 153, 153, 1);
                    background-color: rgba(243, 243, 243, 1);
                    border-radius: 40px;
                    outline: none;
                }
        }

        .submit {
          background-color: rgba(211, 175, 53, 1);
          padding: 10px 20px;
          color: #ffffff;
          border-radius: 26px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        .notFully {
          opacity: 0.7;
          cursor: default;
        }
    }
}

.password-input::placeholder {
    transform: translateY(-4px);
}

.eye-container {
    img {
        width: 25px;
        height: 25px;
    }
}

.colored {
    color: rgb(211, 175, 53, 1) !important;
}

.notVisible {
    visibility: hidden;
}

.notDisplay {
  display: none;
}

.more {
    position: relative;
    cursor: pointer;

    .popout {
        visibility: hidden;
        position: absolute;
        width: 340px;
        background-color: rgba(180, 180, 180, 0.452);
        border-radius: 15px;
        left: -150px;
        top: 20px;
        padding: 10px;
    }
}

.more:hover .popout {
    visibility: visible;
}
